<div class="container">
<h1 class="about_tit">Fassion-roadについて</h1>
<p class="about_txt">自分がデザインした服をアパレル会社で取り扱って欲しい人、</p>
<p class="about_txt">自分のアパレルブランドを立ち上げたい人の</p>
<p class="about_txt"><span class="about_txt1">夢</span>を実現させるプラットフォーム</p>

<div class="about_txt2">~好きを仕事に~</div>
<div class="about_box"><%= image_tag "store.jpg", class: "about_img" %></div>
</div>