<div>
    
<h1>デザイナーのデザイナーによるデザイナーのためのサイト</h1>

<%= link_to '会員ログイン', new_user_session_path, class: "btn btn-primary" %>
<%= link_to 'カンパニーログイン', new_company_session_path, class: "btn btn-primary" %>
</div>